 .HeaderX {
    display: flex;
    justify-content: flex-end;
    padding: 0 5px;
    
}
.HeaderX a{
    margin-left: 20px;
    text-decoration: none;
}
.LogoX {
    display: flex;
@ -25,7 +26,8 @@
    bottom: 0;
}
.FooterX a{
    margin-left: 20px;
    margin-left: 40px;
    text-decoration: none;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@ -33,6 +35,26 @@ body{
  background: hwb(0 99% 1%);
  font-family: 'Open Sans', sans-serif;
}
.Button {
  position:absolute;
  top: 60%;
  left: 50%;
  transform:translate(-50%,-50%);
  margin:auto;
  box-shadow: none;
  
}
.BTN {
  font-size: 15px;
  padding: 8px-15px;
  border:none;
  color: #6e6e6e;
  border radius: 5px;

}
.margin{
  margin-left: 10px;
}

.search {
  width: 100%;
@ -74,4 +96,4 @@ body{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
